<mat-card>
  <mat-card-header>
    <h1>Popular tags</h1>
  </mat-card-header>
  <mat-card-content>
    <mc-spinner
      *ngIf="isLoading$ | async"
      [diameter]="30">
    </mc-spinner>
    <mat-error *ngIf="error$ | async as error">{{ error }}</mat-error>
    <mat-chip-listbox
      *ngIf="popularTags$ | async as popularTags"
      aria-label="Popular tags selection">
      <mat-chip-option
        *ngFor="let popularTag of popularTags"
        [routerLink]="['/tags', popularTag]"
        [selected]="selectedPopularTag === popularTag">
        {{ popularTag }}
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
