<div class="flex justify-center items-center">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    autocomplete="off">
    <mat-form-field class="mt-2 w-full">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title" />
    </mat-form-field>
    <mat-form-field class="mt-2 w-full">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        formControlName="description" />
    </mat-form-field>
    <mat-form-field class="mt-2 w-full">
      <mat-label>Body</mat-label>
      <input
        matInput
        type="text"
        formControlName="body" />
    </mat-form-field>
    <mat-form-field class="mt-2 w-full">
      <mat-label>Tag list</mat-label>
      <input
        matInput
        type="text"
        formControlName="tagList" />
    </mat-form-field>
    <button
      [disabled]="isSubmitting"
      class="block w-full"
      mat-stroked-button>
      Create Article
    </button>
  </form>
</div>
