<div class="p-3 flex justify-between">
  <a
    [routerLink]="['/']"
    class="text-2xl flex items-center">
    Medium-clone
  </a>
  <div>
    <button
      [matMenuTriggerFor]="menu"
      mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['']">
              <button mat-menu-item>
                <mat-icon>home</mat-icon>
                <span>Home</span>
              </button>
            </a>
          </li>
          <ng-container *ngIf="isLoggedIn$ | async">
            <li>
              <a [routerLink]="['/articles/article/new']">
                <button mat-menu-item>
                  <mat-icon>local_post_office</mat-icon>
                  <span>New post</span>
                </button>
              </a>
            </li>
            <li>
              <a [routerLink]="['/settings']">
                <button mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Settings</span>
                </button>
              </a>
            </li>
            <li>
              <a [routerLink]="['/profiles', (currentUser$ | async)!.username]">
                <button mat-menu-item>
                  <span class="flex items-center">
                    <img
                      [src]="(currentUser$ | async)!.image"
                      class="w-6 h-6 mr-4 rounded-3xl" />
                    {{ (currentUser$ | async)!.username }}
                  </span>
                </button>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="isAnonymous$ | async">
            <li>
              <a [routerLink]="['auth/login']">
                <button mat-menu-item>
                  <span>Login</span>
                </button>
              </a>
            </li>
            <li>
              <a [routerLink]="['auth/register']">
                <button mat-menu-item>
                  <span>Register</span>
                </button>
              </a>
            </li>
          </ng-container>
        </ul>
      </nav>
    </mat-menu>
  </div>
</div>
