<div class="p-3 flex justify-between">
  <a
    [routerLink]="['/']"
    class="text-2xl flex items-center">
    Medium-clone
  </a>
  <div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <ng-container *ngIf="isLoggedIn$ | async">
        <button
          [routerLink]="['/articles/new']"
          mat-menu-item>
          <mat-icon>local_post_office</mat-icon>
          <span>New post</span>
        </button>
        <button
          [routerLink]="['/settings']"
          mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button
          [routerLink]="['/profiles', (currentUser$ | async)!.username]"
          mat-menu-item>
          <span class="flex items-center">
            <img
              [src]="(currentUser$ | async)!.image"
              class="w-6 h-6 mr-4 rounded-3xl" />
            {{ (currentUser$ | async)!.username }}
          </span>
        </button>
      </ng-container>
      <ng-container *ngIf="isAnonymous$ | async">
        <button
          [routerLink]="['auth/login']"
          mat-menu-item>
          <span>Login</span>
        </button>
        <button
          [routerLink]="['auth/register']"
          mat-menu-item>
          <span>Register</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>
