<div class="flex items-center justify-center h-full">
  <div class="w-full max-w-lg p-5">
    <mc-auth-panel>
      <mc-auth-panel-header>Log in</mc-auth-panel-header>
      <mc-auth-panel-content>
        <div class="mt-5">
          <mc-backend-error-messages
            *ngIf="errors$ | async as errors"
            [backendErrors]="errors">
          </mc-backend-error-messages>
        </div>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          autocomplete="off">
          <div>
            <mat-form-field class="mt-2 w-full">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                formControlName="email" />
              <mat-error *ngIf="email.errors?.['email']">Invalid email format</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mt-2 w-full">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'" />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="my-3">
            <a routerLink="/register">Need an account?</a>
          </div>
          <button
            [disabled]="isLoading$ | async"
            class="w-full mt-5"
            type="submit"
            mat-stroked-button>
            Sign up
          </button>
        </form>
      </mc-auth-panel-content>
    </mc-auth-panel>
  </div>
</div>
