<mc-spinner *ngIf="isLoading$ | async"></mc-spinner>

<div *ngIf="error$ | async">Some error happened...</div>

<ng-container *ngIf="feed$ | async as feed">
  <ng-container *ngIf="feed.articles.length; else emptyList">
    <div
      *ngFor="let article of feed?.articles"
      class="mb-7">
      <mat-card>
        <mat-card-content>
          <div class="flex items-center justify-between mb-6">
            <div class="flex">
              <a
                [routerLink]="['/profiles', article.author.username]"
                class="mr-3">
                <img
                  [src]="article.author.image"
                  class="w-12 rounded-xl" />
              </a>
              <div>
                <a
                  [routerLink]="['/profiles', article.author.username]"
                  class="block font-semibold hover:underline">
                  {{ article.author.username }}
                </a>
                <span class="text-gray-500"> {{ article.createdAt | date }} </span>
              </div>
            </div>
            <button
              (click)="onAddToFavourites()"
              [color]="article.favorited && 'primary'"
              [matBadge]="article.favorited ? article.favoritesCount + 1 : article.favoritesCount - 1"
              mat-raised-button
              matBadgePosition="before"
              matBadgeColor="accent">
              {{ article.favorited | favouritesBadgeLabel }}
            </button>
          </div>
          <a
            [routerLink]="['/articles/article', article.slug]"
            class="block mb-5">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <div class="flex items-center justify-between">
              <span class="text-gray-400"> Read more... </span>
              <mc-tag-list [tagList]="article.tagList"></mc-tag-list>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="my-4">
      <mc-paginator
        [total]="(feed$ | async)!.articlesCount"
        [limit]="limit"
        [url]="baseUrl"
        [currentPage]="currentPage">
      </mc-paginator>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyList>
  <mat-card>
    <mat-card-content>
      <p class="text-center">Feed list is empty...</p>
    </mat-card-content>
  </mat-card>
</ng-template>
