@use 'tailwind' as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: linear-gradient(45deg, rgba(236, 236, 236, 1) 0%, rgba(209, 201, 201, 1) 100%);
}
