@use 'tailwind' as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(170, 170, 170) 100%);
}

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
